{% extends "alcosearch/template.html" %} {% load staticfiles %} {% block content %}


<div class="tableInfo">
  <form method="POST" action="{% url 'info' %}">
    {% csrf_token %}
    {% for alkoholtype in varetype %}
    <input type="radio" name="Varetype" value="{{alkoholtype.varetype}}" id="{{alkoholtype.varetype}}" />
    <label for="{{alkoholtype.varetype}}">{{alkoholtype.varetype}}</label><br />
    {%endfor%}
    <input type="submit" id="Submit" />
  </form>
</div>









{% endblock %}
