{% load staticfiles %}
<table>
  <tr>
  <th>
    Varenavn
  </th>
  <th>
    Varetype
  </th>
  <th>
    Alkoholprosent på literpris
  </th>
  <th>
    Alkoholprosent
  </th>
  <th>
    Pris
  </th>
  <th>
    Volum
  </th>
  <th>
    Produktutvalg
  </th>
  <th>
    Land
  </th>
  </tr>
{% for alkohol in Apl %}
<tr>
  <td>
    <a href="{{alkohol.vareurl}}" target="_blank">{{ alkohol.varenavn}}</a>
  </td>
  <td>
    {{alkohol.varetype}}
  </td>
  <td>
    {{ alkohol.Apl}}
  </td>
  <td>
    {{ alkohol.alkohol }}
  </td>
  <td>
    {{ alkohol.pris }}
  </td>
  <td>
    {{ alkohol.volum }}
  </td>
  <td>
    {{ alkohol.produktutvalg }}
  </td>
  <td>
    {{ alkohol.land }}
  </td>
</tr>
{%endfor%}
</table>
