<!DOCTYPE html> {% load staticfiles %} {% load alcextra %}
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/alcosearch.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../static/javascript/displayalcohol.js"></script>
    <title>Vinmonoholikern</title>
  </head>

  <body>
    <div class="pageheader form-control">
      <a id="pageheader" href="/"><img src="../../static/images/logo.png" alt="Vinmonoholikern"/></a>
      <h3>Vinmonopol søk</h2>
        <p>
          Data har ikke blitt oppdatert siden 27. September 2017
        </p>
    </div>

    <div class="search container" id="searchBar">
      <form method="POST" action="{% url 'info' %}">
        {% csrf_token %}
        <input type="text" name="Search" placeholder="Søk.. " />
      </form>
      <button class="toggle" id="avsøk">Avansert søk</button>
      <form method="POST" action="{% url 'info' %}" id="advancedSearch">
        {% csrf_token %}
        <div class="dropdown">
          <div class="divVin">
            <input type="button" id="vinAvn" value="Vin"/><br />
            {% for alkohol in vin %}
              <input type="checkbox" name="Advanced" value="{{alkohol.varetype|removeUnderscore}}" class="vin"/> {{alkohol.varetype|removeUnderscore}} <br />
            {% endfor %}
          </div>

          <div class="divOl">
            <input type="button" id="olAvn" value="Øl, sider, mjød & sake"/> <br />
            {% for alkohol in ol %}
              <input type="checkbox" name="Advanced" value="{{alkohol.varetype|removeUnderscore}}" class="ol"/> {{alkohol.varetype|removeUnderscore}} <br />
            {% endfor %}
          </div>

          <div class="divBrennevin">
            <input type="button" id="brennAvn" value="Sprit & annet"/> <br />
            {% for alkohol in brennevin %}
            <input type="checkbox" name="Advanced" value="{{alkohol.varetype|removeUnderscore}}" class="brennevin"/> {{alkohol.varetype|removeUnderscore}} <br />
            {% endfor %}
          </div>

          <div class="divChampagne">
            <input type="button" id="chapAvn" value="Champagne"/> <br />
            {% for alkohol in champagne %}
            <input type="checkbox" name="Advanced" value="{{alkohol.varetype|removeUnderscore}}" class="champagne"/> {{alkohol.varetype|removeUnderscore}} <br />
            {% endfor %}
          </div>

          <div class="divAlkoholfri">
            <input type="button" id="alkfriAvn" value="Alkoholfri"/> <br />
            {% for alkohol in alkoholfritt %}
            <input type="checkbox" name="Advanced" value="{{alkohol.varetype|removeUnderscore}}" class="alkoholfritt"/> {{alkohol.varetype|removeUnderscore}} <br />
            {% endfor %}
          </div>
          </div>
          <div id="advSearch">
            <input type="number" value="50" name="limitID" id="limitID"/>
            <label>Begrens antall produkter</label>
          <button type="submit" name="Avansert" value="Søk" id="AvansertSøk" class="btn btn-search">
            Søk
          </button>
          </div>

        <!-- <input type="submit" name="Avansert" value="Søk" id="AvansertSøk" class=".btn" /> -->
      </form>
      <form method="POST" action="{% url 'info' %}">
        {% csrf_token %}
        <input type="submit" name="Top200" value="Vis top 200 billigste varer på alkoholprosent" id="top200" />
      </form>
    </div>
    <div class="blockContent container">
      {% block content %} {% endblock %}
    </div>

    <div id="footer">
      <p>
        All bestilling, kjøp og utlevering skjer fra, av eller hos Vinmonopolet eller Vinmonopolets samarbeidspartnere
      </p>
      <p>
        All tekst og informasjon blir hentet fra Vinmonopolets database. <a href="https://www.vinmonopolet.no/datadeling" target="_blank">https://www.vinmonopolet.no/datadeling</a>
      </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  </body>
</html>
