body {
  background-color: #536B78;
}

.alkoholtype {
  display: none;
}


.pageheader {
  background-color: #ACCBE1;
  position: relative;
}

.pageheader h1, .pageheader h3 {
  text-align: center;
}

.blockContent {
  position: relative;
  top:100px;
  margin: auto;
}

input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 100px;
}
input[type="text"] {
  margin-bottom: 10px;
  width: 300px;
}
