html {
  height: 100%;
}

body {
  background-color: #D8DBE2;
}

.alkoholtype {
  display: none;
}


.pageheader {
  margin-top: 20px;
  background-color: #A9BCD0;
  position: relative;
}

#footer {
  margin-top: 100px;
  margin-bottom: 20px;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#pageheader a {
  text-decoration: none;
}

#vinAvn, #olAvn, #brennAvn, #chapAvn, #alkfriAvn {
  /*width: 33%;*/
}

#top200 {
  width: 100%;
  background-color: #373F51;
  color: #D8DBE2;
  padding: 20px 20px 20px 20px;
  border-radius:0;
  border: 0 none;
}

#AvansertSøk {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
}

input[type="checkbox"] {
}
label {
  display: inline-block;
}

.divVin, .divOl, .divBrennevin, .divChampagne, .divAlkoholfri  {
    margin-right: 20px;
    margin-bottom: 20px;
}


#avsøk, #showButikk {
  width: 100%;
  background-color: #53627A;
  color: #D8DBE2;
  padding: 10px 10px 10px 10px;
  border-radius:0;
  border: 0 none;
  margin-bottom: 10px;
}

#AvansertSøk {
  background-color: #76B4BE;
}

.pageheader h1, .pageheader h3 {
  text-align: center;
}

.blockContent {
  position: relative;
  top:40px;
  margin: auto;
}

input[type="submit"] {
}

input[type="text"] {
  margin-top: 100px;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 10px 5px 10px;
}

.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.btn.sharp {
  border-radius:0;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.active {
    outline: 0 none;
    background: #76B4BE;
}
.btn-primary:active, .btn-primary.active {
    background: #76B4BE;
    box-shadow: none;
}

.btn-primary {
    background: #58A4B0;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    padding: 10px 30px 10px 30px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #76B4BE;
}

.title {
  margin-top: 20px;
}
