{% extends "alcosearch/template.html" %} {% block content %}


<div class="search">
  <input type="text" name="search" placeholder="Søk.. " />
</div>

<div class="tableInfo">
  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>
        <button>Hvitvin</button>
      </td>
      <td>
        <button>Rødvin</button>
      </td>
    </tr>
    <tr>
      <td>
        <button>Brennevin</button>
      </td>
      <td>
        <button>Øl</button>
      </td>
    </tr>
  </table>
</div>









{% endblock %}
